@model IEnumerable<FrogFraternityBeta.Models.Post>

@{ 
    ViewData["Title"] = "Forum Index"; 
}

<table class=" table">
    <tbody>
        @foreach (var item in Model)
        { // This is the driving code that handles showing every post present in the database
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title) | @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
}
    </tbody>
</table>